
    @media only screen and (min-width: 320px) and (max-width: 567px) {

    /* home page */

    .slider-title {
        font-size: 35px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -1.03px;
        color: #ffffff;
        padding: 50px 0px;
        opacity: 1;
    }

    .slider-sub-title {

        font-size: 25px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 9.2px;
        color: #8BC34A;
    background-color: rgba(0, 0, 0, 0.5);

    }

    .swiper-slide-active .slider-sub-title {
        animation: rollIn 1s;
    }

    .sectionone {
        font-size: 18px !important;
        margin: 0px !important;
        text-align: justify;
    }

    .sectiontwo {
        margin-top: 50px !important;
    }

    .content-wrapper {
        margin: -50px auto;
        max-width: 1200px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        padding: 1.5rem;
    }

    .news-card {
        border: 0px solid aqua;
        margin: 1.5rem;
        position: relative;
        height: 12rem;
        overflow: hidden;
        border-radius: 0.5rem;
        flex: 1;
        min-width: 290px;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
    }

    .news-card {

        height: 20rem
    }

    .news-card::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.7) 80%);
        ;
        z-index: 0;
    }

    .news-card__card-link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        /*     background: rgba(255,0,0,.5); */
    }

    .news-card__image {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        transition: transform 3s ease;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        position: relative;
        z-index: -1;
    }

    .news-card__text-wrapper {
        position: absolute;
        bottom: 0rem;
        padding: 1rem;
        color: white;
        /*     background-color: rgba(0, 0, 0, 0.4); */
        transition: background-color 1.5s ease;
    }

    .news-card__title {
        transition: color 1s ease;
        margin-bottom: .5rem;
        color: #8BC34A;
    }

    .news-card__post-date {
        font-size: .7rem;
        margin-bottom: .5rem;
        color: #CCC;
    }

    .news-card__details-wrapper {
        max-height: 0;
        opacity: 0;
        transition: max-height 1.5s ease, opacity 1s ease;
    }

    .news-card:hover .news-card__details-wrapper {
        max-height: 20rem;
        opacity: 1;
    }

    .news-card:hover .news-card__text-wrapper {
        background-color: rgba(0, 0, 0, 0.6);
    }

    .news-card:hover .news-card__title {
        color: #8BC34A;
    }

    .news-card:hover .news-card__image {
        transform: scale(1.2);
        z-index: -1;
    }

    .news-card__excerpt {
        font-weight: 300;
    }

    .news-card__read-more {
        background: #2D7D32;
        color: #ffffff !important;
        display: block;
        padding: 0.4rem 0.6rem;
        border-radius: 0.3rem;
        margin-top: 1rem;
        border: 1px solid #444;
        font-size: 0.8rem;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        text-decoration: none;
        width: 7rem;
        margin-left: auto;
        position: relative;
        z-index: 5;
    }

    .news-card__read-more i {
        position: relative;
        left: 0.2rem;
        color: #ffffff !important;
        transition: left 0.5s ease, color 0.6s ease;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .news-card__read-more:hover i {
        left: 0.5rem;
        color: #ffffff !important;
    }

    .sectionfour {
        margin-top: 35px !important;
        margin-bottom: 70px !important;
    }

    .sectionfour1 {
        margin-top: 0px !important;

    }
    .footersection{
        margin-top: 20px !important;
    }
    
    
    /* home page end */
    /* about page */
    .overlay-text{
        font-size: 30px;
    }
    .aboutsection{
        margin-top: -135px !important;
        margin-bottom: -170px !important;
    }
    .aboutsection1
    {
        margin-top: 0px !important;

    }
    .cardheight{
        max-height:100% !important ;
        max-width: 100%;
    } 
    /* contact page */
    .contact-form{
        padding: 0px !important;
    }
    .overlay-text2 {
        position: absolute;
        top: 50%;
        left: 53%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 22px;
        font-weight: bold;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.5);
        /* Adjust opacity as needed */
        padding: 10px 20px;
    }
    .overlay-text1
    {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 28px;
        font-weight: bold;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.5);
        /* Adjust opacity as needed */
        padding: 10px 20px;
    }
    
    .productsection{
        margin-top: -150px !important;
        
    }
    .sectionone1{
        font-size: 25px !important;
    }
    .fontdesign{
        font-size: 17px !important;
    }
    .aboutcard{
        width: auto !important;
        height: 100% !important;
    }
    .table-1{
        
        margin-left: 60px !important;
    }
    .xyz{
        margin-top:-120px !important;
    }
    
.table-2{
    margin-left: 60px !important;
}
.xyz2{
    margin-top:-120px !important;
    margin-bottom: 20px !important;
}
    
    .about-icon{
       
        background-color: white;
        border-radius: 35px !important;
        margin-top: -100px !important;
    }
    .about-icon1{
      
        background-color: white;
        border-radius: 35px !important;
        margin-top: -80px !important; 
    }
}





@media only screen and (min-width: 568px) and (max-width: 992px) {
    .slider-title {
        font-size: 35px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -1.03px;
        color: #ffffff;
        padding: 50px 0px;
        opacity: 1;
    }

    .slider-sub-title {

        font-size: 25px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 9.2px;
        color: #8BC34A;
    background-color: rgba(0, 0, 0, 0.5);

    }

    .swiper-slide-active .slider-sub-title {
        animation: rollIn 1s;
    }

    .sectionone {
        font-size: 18px !important;
        margin: 0px !important;
    }
    
    .sectiontwo {
        margin-top: 50px !important;
    }

    .content-wrapper {
        margin: -50px auto;
        max-width: 1200px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        padding: 1.5rem;
    }

    .news-card {
        border: 0px solid aqua;
        margin: 1.5rem;
        position: relative;
        height: 12rem;
        overflow: hidden;
        border-radius: 0.5rem;
        flex: 1;
        min-width: 290px;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
    }

    .news-card {

        height: 20rem
    }

    .news-card::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.7) 80%);
        ;
        z-index: 0;
    }

    .news-card__card-link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        /*     background: rgba(255,0,0,.5); */
    }

    .news-card__image {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        transition: transform 3s ease;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        position: relative;
        z-index: -1;
    }

    .news-card__text-wrapper {
        position: absolute;
        bottom: 0rem;
        padding: 1rem;
        color: white;
        /*     background-color: rgba(0, 0, 0, 0.4); */
        transition: background-color 1.5s ease;
    }

    .news-card__title {
        transition: color 1s ease;
        margin-bottom: .5rem;
        color: #8BC34A;
    }

    .news-card__post-date {
        font-size: .7rem;
        margin-bottom: .5rem;
        color: #CCC;
    }

    .news-card__details-wrapper {
        max-height: 0;
        opacity: 0;
        transition: max-height 1.5s ease, opacity 1s ease;
    }

    .news-card:hover .news-card__details-wrapper {
        max-height: 20rem;
        opacity: 1;
    }

    .news-card:hover .news-card__text-wrapper {
        background-color: rgba(0, 0, 0, 0.6);
    }

    .news-card:hover .news-card__title {
        color: #8BC34A;
    }

    .news-card:hover .news-card__image {
        transform: scale(1.2);
        z-index: -1;
    }

    .news-card__excerpt {
        font-weight: 300;
    }

    .news-card__read-more {
        background: #2D7D32;
        color: #ffffff !important;
        display: block;
        padding: 0.4rem 0.6rem;
        border-radius: 0.3rem;
        margin-top: 1rem;
        border: 1px solid #444;
        font-size: 0.8rem;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        text-decoration: none;
        width: 7rem;
        margin-left: auto;
        position: relative;
        z-index: 5;
    }

    .news-card__read-more i {
        position: relative;
        left: 0.2rem;
        color: #ffffff !important;
        transition: left 0.5s ease, color 0.6s ease;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .news-card__read-more:hover i {
        left: 0.5rem;
        color: #ffffff !important;
    }

    .sectionfour {
        margin-top: 35px !important;
        margin-bottom: 70px !important;
    }
    .footersection{
        margin-top: 20px !important;
    }
    .overlay-text1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.5);
        /* Adjust opacity as needed */
        padding: 10px 20px;
    }
    .overlay-text2 {
        position: absolute;
        top: 50%;
        left: 53%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 33px;
        font-weight: bold;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.5);
        /* Adjust opacity as needed */
        padding: 10px 20px;
    }
    .overlay-text {
        position: absolute;
        top: 50%;
        left: 54%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 35px;
        font-weight: bold;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 10px 20px;
    }
    .carousel-slide{
        margin-top: -250px !important;
    }
    .table-1{
        
        margin-left: 85px !important;
    }
    .xyz{
        margin-top:-220px !important;
    }
    
.table-2{
    margin-left: 85px !important;
}
.xyz2{
    margin-top:-70px !important;
}
.aboutsection{
    margin-top: -100px !important;
    margin-bottom: -170px !important;
}
.aboutsection1
{
    margin-top: 100px !important;

}
.about-icon{
    
    background-color: white;
    border-radius: 35px !important;
    margin-top: -99px !important;
}
.about-icon1{
    
    background-color: white;
    border-radius: 35px !important;
    margin-top: -80px !important; 
}

}

/* home page end  */